<div class="login-form">

    <mat-card class="login-form-card">

      <div class="card-title">

        <mat-card-header>
          <mat-card-title>Helpo</mat-card-title>
        </mat-card-header>

      </div>

      <div class="card-content">
        <div class="login-form-content">
          <mat-card-content>


            <form class="login-form-inputs" [formGroup]="loginForm" (ngSubmit) = "userLogin()">

              <div class="form-email-field">
                <mat-form-field>
                  <input matInput name="userEmail" type="email" placeholder="Email" formControlName="userEmail">
                  <mat-error>
                    {{ getErrorEmail() }}
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="form-password-field">
                <mat-form-field>
                  <input matInput  name="password" type='password' placeholder="Password" formControlName="password">
                  <mat-error>
                    {{ getErrorPassword() }}
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="form-signin-button">

                <mat-card-actions>
                  <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!loginForm.valid" >Sign In</button>
                </mat-card-actions>
      
              </div>

            </form>


          </mat-card-content>
        </div>
        
      </div>


    </mat-card>

</div>