
<div class="elements">
<nav mat-tab-nav-bar mat-align-tabs="center" class="navigation">

  <a mat-tab-link routerLink="/about" routerLinkActive="active_about">
    <div class="about">
      <mat-icon class="feed-icon-about">help</mat-icon>
      <span class="feed-about">
        About
      </span>

    </div>
  </a>

  <a mat-tab-link routerLink="/feed" routerLinkActive="active_feed">
    <div class="home">
      <mat-icon class="feed-icon-home">home</mat-icon>

      <span class="feed-home">
        Home
      </span>

    </div>
  </a>


  <a mat-tab-link routerLink="/search" routerLinkActive="active_search">
    <div class="search">
      <mat-icon class="feed-icon-search">search</mat-icon>

      <span class="feed-search">
        Search
      </span>

    </div>
  </a>



  <a mat-tab-link routerLink="/profile" routerLinkActive="active_profile" *ngIf="condition">
    <div class="profile">
      <mat-icon class="feed-icon-profile">account_circle</mat-icon>

      <span class="feed-profile">
        Profile
      </span>

    </div>

  </a>

  <a mat-tab-link routerLink="/login" routerLinkActive="active_login" *ngIf="condition">
    <div class="login">
      <mat-icon class="feed-icon-login">login</mat-icon>
      <span class="feed-login">
        Login
      </span>

    </div>
  </a>


  <a mat-tab-link routerLink="/register" routerLinkActive="active_register" *ngIf="condition">
    <div class="register">
      <mat-icon class="feed-icon-register">person</mat-icon>

      <span class="feed-register">
        Register
      </span>

    </div>
  </a>


</nav>
</div>
<router-outlet></router-outlet>