.register-form{
	align-items: center;
	display: flex;
	justify-content: center;
	height: 100vh;
}

.card-title{
	align-items: center;
	display: flex;
	justify-content: center;
}


.register-form-content{

	align-items: center;
	display: flex;
	justify-content: center;

}

.form-signin-button{
	align-items: center;
	display: flex;
	justify-content: center;
}

.register-form-card{
	width: 400px;
	height: 400px;
}

.form-firstname-field, .form-lastname-field, .form-email-field
{
	padding-bottom: 10px;
}

.form-password-field
{
	padding-bottom: 20px;
}

