<div class="login-form">

    <mat-card class="login-form-card">

        <div class="card-title">

            <mat-card-header>
                <mat-card-title>Helpo</mat-card-title>
            </mat-card-header>

        </div>

        <div class="card-content">
            <div class="login-form-content">
                <mat-card-content>


                    <form>

                        <div class="form-firstname-field">
                            <mat-form-field>
                                <input matInput type="text" placeholder="First name">
                            </mat-form-field>
                        </div>

                        <div class="form-lastname-field">
                            <mat-form-field>
                                <input matInput type="text" placeholder="Last name">
                            </mat-form-field>
                        </div>

                        <div class="form-email-field">
                            <mat-form-field>
                                <input matInput type="email" placeholder="Email">
                            </mat-form-field>
                        </div>

                        <div class="form-password-field">
                            <mat-form-field>
                                <input matInput type='password' placeholder="Password">
                            </mat-form-field>
                        </div>

                    </form>


                </mat-card-content>
            </div>
            <div class="form-signin-button">

                <mat-card-actions>
                    <button mat-raised-button> Register </button>
                </mat-card-actions>

            </div>
        </div>


    </mat-card>

</div>