<div class="register-form">

    <mat-card class="register-form-card">

        <div class="card-title">

            <mat-card-header>
                <mat-card-title>Helpo</mat-card-title>
            </mat-card-header>

        </div>

        <div class="card-content">
            <div class="register-form-content">
                <mat-card-content>


                    <form class="register-form-inputs" [formGroup]="registerForm" (ngSubmit) = "userRegister()">

                        <div class="form-firstname-field">
                            <mat-form-field>
                                <input matInput type="text" placeholder="First name"  name="firstName" formControlName="firstName">
                                <mat-error>
                                    {{ getErrorFirstName() }}
                                  </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="form-lastname-field">
                            <mat-form-field>
                                <input matInput type="text" placeholder="Last name" name="lastName" formControlName="lastName">
                                <mat-error>
                                    {{ getErrorLastName() }}
                                  </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="form-email-field">
                            <mat-form-field>
                                <input matInput type="email" placeholder="Email" name="email" formControlName="email">
                                <mat-error>
                                    {{ getErrorEmail() }}
                                  </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="form-password-field">
                            <mat-form-field>
                                <input matInput type='password' placeholder="Password" name="password" formControlName="password">
                                <mat-error>
                                    {{ getErrorPassword() }}
                                  </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="form-signin-button">

                            <mat-card-actions>
                                <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!registerForm.valid" > Register </button>
                            </mat-card-actions>
            
                        </div>

                    </form>


                </mat-card-content>
            </div>
          
        </div>


    </mat-card>

</div>